<header>
<div id="cabeca">
<button class="title" id="teste">LOGIN</button>
<button class="title" id="botaogf">GRAFICOS</button>


</div>
</header>

<link rel="stylesheet" href="../public/css/style.css">
<div id="relogio">
    <div class="conteiner">
        <H1 id="titulo">Pomodoro</H1>
        <p id="resultado"></p>
    </div>
   
   
   
    
    
    <!--fazer botao de mudar cor -->
    <div>
        <div id="relogio">
            <h2 id="Cont">
                </h1>
        </div>

        <div id="centralizacock">
            <div id="cock">
                <span id="min">
                    00
                </span>
                    :
                <span id="sec">
                    00
                </span>

            </div>
        </div>
        <div class="container">
            <button class="title" id="pause" value="1" onclick="pausar()" >PAUSAR</button>
             <button class="title" id="start_btn" onclick="iniciar()">INICIAR</button>

            <div class="input-number">
                <input type="number"  id="tempo" value="">
                <div class="input-number-actions">
                </div>
            </div>


        </div>
    </div>
    <footer id="rodape">
        <br>
        <p class="texto">1 pomodoro = 25 minutos</p>
        <p class="texto">Cada set conta para sua estatistica mensal</p>
    </footer>


</div>

<div id="graficos">
<div id="main" style="width: 600px;height:400px;"></div>  

<div id="graficotwo" style="width: 600px;height:400px;"></div>  
</div>



<div id="pagamentos">
    <h1 id="ox">Pagamentos e explicaçoes</h1>

    <!--colocar o mucego-->


</div>


<script>
    //variaveis de controle
    var play = false
    var controle = true;



    function iniciar() {
        if(play) return 
        play = true
        let timeElement = document.getElementById("tempo")
        let timeTarget = timeElement.value
        console.log(timeTarget)

        let minutos = timeTarget
        let segundos = 0

        let intervalo = setInterval(function () {
            if(controle){
            if (segundos === 0) {
                if (minutos === 0) {
                    clearInterval(intervalo);
                    alert("Tempo finalizado, VAI DESCANSAR!");
                } else {
                    minutos--;
                    segundos = 59;
                }
            } else {
                segundos--;
            }
            }
            // atualiza no HTML
            document.getElementById("min").innerText = minutos < 10 ? "0" + minutos : minutos;
            document.getElementById("sec").innerText = segundos < 10 ? "0" + segundos : segundos;

        }, 1000);
     
     
   
    
    }

  //função para pausar o cronometro
    function pausar(){
        controle = !controle; //muda o valor de nao para sim e virce versa
    } 


//--------------------------------------------------------------------------------------------
                    //INICIANDO GRAFICOS
    var chartDom = document.getElementById('main');
  var myChart = echarts.init(chartDom);
  var option;

  option = {
    xAxis: {
      type: 'category',
      data: ['Seg', 'Ter', 'Qua', 'Quin', 'Sex', 'Sab', 'Dom']
    },
    yAxis: {
      type: 'value'
    },
    series: [
      {
        data: [150, 230, 224, 218, 135, 147, 260], //linkar e programar um contador pmodoro
        //jogar pra um DB para salvar os dados de pomodoros feitos
        type: 'line'
      }
    ]
  };
  myChart.setOption(option);
   
 
 
 
    var chartDom = document.getElementById('graficotwo');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
    xAxis: {
      type: 'category',
      data: ['Seg', 'Ter', 'Qua', 'Quin', 'Sex', 'Sab', 'Dom']
    },
    yAxis: {
      type: 'value'
    },
    series: [
      {
        data: [150, 230, 224, 218, 135, 147, 260], //linkar e programar um contador pmodoro
        //jogar pra um DB para salvar os dados de pomodoros feitos
        type: 'line'
      }
    ]
  };
  myChart.setOption(option);



</script>