
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  
  
}
body{
background-color: #B3C186;;
overflow-x: hidden;
overflow-y: scroll;      /* mantém o scroll vertical */
scrollbar-width: none;   /* Firefox */

          
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
display: none;           /* Chrome, Safari, Edge */
}

/* Css do meu bota de mudar as cores*/
.switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

/* Tamanho do botao*/

#alinharbotao{
  margin-right: auto;  /* o display da div esta no row reverse*/
  display: flex;
  align-items: center;
}


.switch--shadow + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}

switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #8ce196;
}
.switch--shadow:checked + label:after {
  transform: translateX(30px);
}

body:has(input:checked) {
    background-color: #000000;
    color: white;
  }

  #titulo:has(input:checked) {
    background-color: #333;
    color: white;
  }















#teste{
  background: linear-gradient(70deg, #000000, #17193b);
  box-shadow: 0;
  color: white;
}
#botaogf{
  background-color: #000000;
  color: #fff;
}
#titulo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 70px;
}

#cabeca {
    height: 55px;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: row-reverse;

}

#cabeca .item-esquerda {
    margin-right: auto; /* empurra tudo que vem depois para a direita */
}

#cabeca .item-direita {
    margin-left: 10px; /* espaço entre os da direita */
}




#cabeca:hover button {
    opacity: 1;              
    pointer-events: auto;    
}
#temporizador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.texto{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

#cock{
    border-radius: 6px;
    min-height: 30px;
    width: 80px;
    /* padding: 8px; */
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 200px;
}

#centralizacock{
    display: flex;
    align-items: center;
    justify-content: center;
}

#botao{
  min-width: 30px;
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  font: 700 10px 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-align: center;
  color: #313133;

  background: linear-gradient(90deg, #43857c 0%, #4fd1c5 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);

  cursor: pointer;
  transition: .3s ease-in-out;
  outline: none;
  position: relative;
}

#imput{
    border: 0;
}
#conteiner{
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
}


#acoes{
    display: flex;
    gap: 0,6rem;
    justify-content: center;
}

.bottao{
    padding: 0,6;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4c0677;
    color: #fff;
}

.container {
   margin-top: 100px;
   margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  flex-direction: row-reverse;
}

.title {
  padding: 0.8rem 1rem;
  border-radius: 6px;
  background: #17193b;
  text-align: center;
  color: rgb(255, 216, 98);
  font-weight: 900;
  font-size: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.input-number {
 
  width: 100px;
  padding: 0.4rem;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  border-bottom: solid 4px #17193b;
}

.input-number :hover,
.input-number :focus{
  outline: none;
  border: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
} /*tira as cetinhas de dentro do input*/

.input-number input {
  width: 100%;
  font-weight: 800;
  font-size: 20px;
  color: #17193b;
}


.input-number-actions {
  display: flex;
  gap: 0.6rem;
  justify-content: space-between;
}

button {
  cursor: pointer;
}



#graficos {
    display: flex;
    width: 100%;
    background-color: #FEFAE0;
    box-sizing: border-box;
    height: 500px;
    margin-top: 66px;
    justify-content: space-around;
    align-items: center;
}
#pagamentos{
  width: 100%;               
  background-color: #191716;  
  box-sizing: border-box;     
  height: 200px;
  padding: 20px;
}

#ox{
  font-size: 2.5rem;  /* tamanho parecido com h1 padrão */
  font-weight: bold;
  color: #7a1818;
  text-align: center;
}


#titulops{
  color: #680f0f;
}
