<link rel="stylesheet" href="/css/graficos.css">

<!--<div id="container">
  <div id="perfil"> 
    <div id="foto"></div>
    <p class="nome">Nome do usuário</p>  
    <p class="nome">Tempo de estudo</p> 
  </div>-->






<!--Esse vai ser o teste de 2 graficos-->
<div id="main" style="width: 600px; height: 400px;"></div>







<script src="/models/chartOption.js"></script>
<script src="/js/graficocronometro.js"></script>