<link rel="stylesheet" href="../public/css/style.css">
<header>
  <div id="cabeca">
    <a href="pomodoro/login"><button class="title" id="teste">LOGIN</button></a>
    <button class="title" id="botaogf">GRAFICOS</button>




    <div class="switch__container" id="alinharbotao">
      <input id="switch-shadow" class="switch switch--shadow" type="checkbox" />
      <label for="switch-shadow"></label>
    </div>


</div>
</header>