<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>

  <!-- CSS genérico -->
  <link rel="stylesheet" href="/css/style.css">


  <!-- Config bootstrap ONline -->


  <!-- graficos -->
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
  <script src="echarts.js"></script> 

<!-- Configs necessárias para Boostrap -->
  


  <!-- CSS específico da página -->

</head>

<body>

 
  {{>_navbar}}
  <!-- Config bootstrap ONline -->
 


  {{{body}}}

 

 
</body>


</html>